* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
   font-family: 'Heebo', sans-serif;
}

body {
   background-color: #f7f7f7;
}

/*  Estilização do Menu, pega a visão da formatação
   Rem é uma medida de pixels também, sempre que possível substitua
   pixels por ele, e o tamanho de um Rem corresponde à 16 pixels, ou 
   seja, pegue o pixel que você ia fazer e divide por 16.  */

header {
   background-color: #fff;
   height: 5rem;
}

header #nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
   max-width: 75rem;
   margin: 0 auto;
   height: 5rem;
}

header #nav-bar .nav-brand {
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: 700;
   color: rgb(138, 10, 10);
}

header #nav-bar .nav-brand:hover {
   color: rgb(201, 118, 11);
   transition: 0.4s;
}

header #nav-bar .nav-list {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 2rem;
}

header #nav-bar .nav-list .nav-item a {
   text-decoration: none;
   color: rgb(138, 10, 10);
   font-size: 1.25rem;
   font-weight: 500;
}

header #nav-bar .nav-list .nav-item a:hover {
   color: rgb(201, 118, 11);
   transition: 0.3s;
}

header #nav-bar .hamburguer-menu {
   display: none;
}

@media (max-width: 48.1rem) {
   header #nav-bar .hamburguer-menu {
      display: block;
   }

   header #nav-bar .nav-list {
      display: none;
   }
}

/* Esse aqui é o corpo do site onde ficam aquelas informações 
   principais, se atente à formatação, que vem padronizada
   do menu, e perceba as diferenças nos pesos das fontes e 
   altura das linhas, isso faz muita diferença. */

main {
   margin-top: 5rem;
}

main #banner {
   display: flex;
   justify-content: space-between;
   max-width: 75rem;
   padding: 0 2rem;
   margin: 0 auto;
}

main #banner .banner-content .banner-content-title {
   font-size: 2.75rem;
   font-weight: 700;
   line-height: 3.75rem;
   margin-bottom: 2.5rem;
}

main #banner .banner-content .banner-content-subtitle {
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5rem;
   max-width: 31.25rem;
   margin-bottom: 2.3rem;
}

main #banner .banner-content .banner-content-btn {
   background-color: #00a8cc;
   color: #fff;
   font-size: 1.25rem;
   font-weight: 500;
   border-radius: 0.1rem;
   padding: 0.5rem 1.5rem;
   border: none;
   cursor: pointer;
}

main #banner .banner-image {
   width: 17.10rem;
   height: 17.10rem;
   border-radius: 50%;
}

@media (max-width: 57.5rem) {
   main #banner {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
   }

   main #banner .banner-content {
      text-align: center;
   }
}

/*  Pois agora vem a parte dos cards, os conteúdos que são linkados
   por assim dizer. São os posts */

/* Porque tem uma div dentro da section ? Não quero que meu background
   fique restrito à limitação da largura que coloquei, só meu conteúdo para
   ele ficar alinhado, uma solução para isso é separar os dois e deixar meu
   background cobrindo a tela enquanto dentro dele exibo meu conteúdo 
   estilizado */

section#posts {
   margin-top: 4.45rem;
   background-color: #edf7fa;
}

#posts .posts-content {
   max-width: 75rem;
   padding: 0 2rem;
   margin: 0 auto;
}

#posts .posts-content .posts-content-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.6rem 1.6rem;
}

#posts .posts-content .posts-content-header .section-title {
   font-size: 1.2rem;
   font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all-link {
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
   color: #00a8cc;
}

#posts .posts-content .posts-content-header .view-all-link:hover {
   color: rgb(201, 118, 11);
   transition: 0.3s;
}

#posts .posts-content .posts-cards {
   display: flex;
   gap: 1.25rem;
   margin-bottom: 2rem;
}

#posts .posts-content .posts-cards .post-card {
   background-color: #fff;
   padding: 1.5rem;
   border-radius: 0.6rem;
   margin-bottom: 2rem;
}

#posts .posts-content .posts-cards .post-card h3 {
   font-size: 1.6rem;
   font-weight: 700;
   margin-bottom: 2.3rem;
}

#posts .posts-content .posts-cards .post-card span {
   display: block;
   font-size: 1.1rem;
   font-weight: 400;
   margin-bottom: 1.5rem;
}

@media (max-width: 48.1rem) {
   #posts .posts-content .posts-cards {
   flex-direction: column;
   align-items: center;
   }
}